body {
	font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.5em;
}

img {
  height: auto; 
  width: auto;
  max-width: 100%;
}*/

.fullscreen-img {
  max-width: 100%;
}

#nav-bar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333;

  z-index: 10;
  z-index: 5;

}

.header {
	margin-top: 2em;
}

/* Styling for the navigation button */
.button-nav {
  text-decoration: none;
  display: inline-block;
  padding: 1em 0.75em;
  color: #FFF;
  background-color: #333;
  /*border-radius: 0.25em;*/
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  color: #999;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}



/* Section 1 */

.section1 {
  position: relative;
  margin-bottom: -1em;
}
/*=======
h1 {
  z-index: 5;
  color: #cecece;
  text-align: center;
  position:relative;
  top:7.5em;
}*/

/*.section1 {
  position: relative;
  bottom:4.5em;

}*/

.section-header1 {
 /* width: 100%;
  line-height: 1em;
  margin-bottom: 0.5em;
  position: absolute;
  z-index: 1;
  font-size: 3em;
  left: 2em;
  top: 5em;
  text-align: center;
  font-size: 10em;*/

  text-align: center;
  font-size:4em;
  z-index: 1;
  font-weight: 900;
  position: relative;
  bottom: 9em;
  color: #eee;
}

.section-text1 {
/*  width: 40%;
  position: absolute;
  z-index: 1;
  left: 6em;
  top: 20em;*/
  text-align: center;
  width:62%;
  left:15em;
  color:#eee;
  
  position: relative;
  bottom: 35em;
}

/* Section 2 */

/*.section2 {
  position: relative;
  margin-bottom: -1em;
}*/

.section-header2 {
  width: 40%;
  line-height: 1em;
  margin-bottom: 0.5em;
  position: absolute;
  z-index: 1;
  font-size: 10em;
  left: 2em;
  top: 5em;
}

.section-text2 {
  width: 40%;
  position: absolute;
  z-index: 1;
  left: 6em;
  top: 26em;
}

/* Section 3 */

.section3 {
  position: relative;
  margin-bottom: -1em;

}

.section-header3 {
  width: 40%;
  line-height: 1em;
  margin-bottom: 0.5em;
  position: absolute;
  z-index: 1;
  font-size: 3em;
  right: 2em;
  top: 6em;
}

.section-text3 {
  width: 40%;
  position: absolute;
  z-index: 1;
  right: 6em;
  top: 26em;
=======
  top:7em;
}

.section1-header1 {
  text-align: center;
  z-index: 5;
  font-size: 4em;
  position:relative;
  bottom:4em;
  color:#cecece;
}





